@font-face {
    font-family: 'heal the web A';
    src: url(fonts/HealTheWebA-Regular.otf);
}

p {
    padding-top: 10%;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 20pt;
    font-family: 'heal the web A';
}

.word {
    opacity: 0.02; /* Initially make all words invisible */
    transition: opacity 0.1s ease; /* Smooth transition for opacity change */
}

.word:hover {
    opacity: 1; /* Make the word visible when hovered */
}



